*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: "valorant";
    src: url("../fonts/Valorant\ Font.ttf");
}
@font-face {
    font-family: "valorant1";
    src: url("../fonts/FontFont_FF.Mark.Pro.Black.otf");
}